@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Roboto:wght@400;700&display=swap');
html, body{
    height: 100%;
}
body{
    background-color: #B7AC72;
    font-family: 'Cairo', sans-serif;
    margin: 0 auto;
    
}
ul{
    list-style: none;
    
}
a:hover{
    font-weight: bolder;
    color: lightyellow;
}
a{
    text-decoration: none;
    color: black;
}
/*header*/
.menuFijo{
    background-color: #FFF9E6;
}

/*enlaces superiores derechos*/
nav ul.redesLista{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1px;
    padding-bottom: 1px;
    border-left: 1cm;
    display: flex;
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;
    font-size: large;
          
}

img.redes{
    width: 20px;
    padding-right: 4px;
    margin-right: 4px;
}
.redes{
    font-size: large;
    font-weight: bolder;
    
}
.redesLista li:first-child{
    margin-left: 85%;
}

/*menú desplegable izquierda*/
.indexMenu {
    list-style-type: none;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 2px, 2px, 2px, 2px;
    overflow: hidden;
    
    
}
  
.menuDrop {
    float: left;
}
  
li a, .indexMenu {
    display: flex;
    text-align: center;
    padding-right: 14px;
    padding-left: 16px;
    text-decoration: none;
}
  
li a:hover, .indexMenu:hover .menuDrop {
    font-weight: bolder;
    color: lightyellow;
}
  
li.indexMenu {
    display: inline-block;
}
  
.dropDown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 5px;
    padding-left: 5px;
}
  
.dropDown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropDown a:hover {
    background-color: #f1f1f1;
}
  
.indexMenu:hover .dropDown {
    display: block;
}

.indexMenu li a.ingreso{
    margin-right: 10px;
    margin-left: 1050px;
    padding-right: 1px;
    
}


/*main*/
#Main{
    width: 80%;
    margin: 0 auto;    
    
}
.mainImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mainLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}    

/*título e imagen*/

.divTitulo{
    
    width: 75%;
    height: 350px;
    margin: 0 auto;
    background-image: url(mainclemat.png);  


}


.instagram-media{
    float: center;
    
}
h1{
    justify-content: flex-start;
}

h4{
    font-weight: bold;
    color: black;
    
}
/*footers*/
footer{
    background-color: rgb(97, 96, 96);
}

footer ul{
    color: white;
}

/*página Quienes Somos*/
.bodyQuienes{
    background-color: #A0B9F1;
}
.quienesSomos{
    width: 75%;
    height: 400px;
    margin: 0 auto;
    background-image: url(yaniymari.jpeg);
    color: white;
    text-align: center
}
.proposito{
    text-align: center;
}
.quienesTitulo{    
    background-color: #A0B9F1;
    width: 50%;
    height: 24px;
    margin:0 auto;
    margin-top: 3px;
    font-size: 12px;
    border-bottom: dotted 2px #B7AC72;
    color: black;
}
.quienesProfes{
    display: flex;
    flex-direction: row;
}
.nombresQuienes{
    color: #B7AC72;
    display: flex;
    flex-direction: row;
    width: 10%;
    margin: 0 auto;
    align-items: center;
}
article p{
    width: 50%;
    margin:0 auto;
}
/*pestaña clases*/
.bodyClases{
    background-color: #DC632C;

}
.clases{
    width: 75%;
    height: 500px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
}
.mensuales{
    width: 50%;
    background-image: url(lasalablanca.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.talleres{
    width: 50%;
    background-image: url(letournispadel.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*contacto*/
.bodyContacto{
    background-color: #FFF9E6;
}   
.contactoArt{
    width: 75%;
    height: 400px;
    margin: 0 auto;
}
.espacioInput{
    width: 60%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}
.consultaInput{
    width: 60%;
    height: 100px;
    margin:0 auto;
    display: flex;    
}
.enviarInput{
    width: 5%;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
}
.mailWhats{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*página Productos*/
.bodyProductos{
    background-color: #EAC867;
}
.productosArt{
    width: 75%;
    height: 485px;
    margin: 0 auto;
}
.titulosProd{
    width: 40%;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    
}
.muestraProd{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    text-align: center;

}